In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/Users/ankitbaliyan/Documents/Confidential/Aangan/Aangan_office_work/Maheshwari's task/31122023/CSC Final Formulation.xlsx - CSC Formulation School Wise.csv")
df.head()

,Sr. No,State,District,Name of Block.,Name School,U- Dise code of the School,Address of the School.,Name HM,Mobile HM,CSC Coordinator,CSC Coordinator Number,CSC members,07-12-2023
0,1,Odisha,Nabrangpur,Chandahandi,Govt UPS Rajkote,21280107801,Rajkote,DEBISING MAJHI,9861958522,DEBISING MAJHI,9861958522,9.0,NaN
1,2,Odisha,Nabrangpur,Chandahandi,Govt Ups Gorjharia,21280103602,At -Gorjharia Po-Rajkot Blok Chandahandi,Jayalal Sori,9668328806,Mantu Suna,9556350479,9.0,NaN
2,3,Odisha,Nabrangpur,Chandahandi,GOVT UPS BILEIJHARAN,21280107302,Bileijharan Bandhkona,BASU DANGARI,7681856475,BASU DANGARI,7855018864,4.0,NaN
3,4,Odisha,Nabrangpur,Chandahandi,GovtpsBharjodi,21280107402,Govt PS Bharjodi,Ludrash Naik,9178396063,Ludrash Naik,9178396063,9.0,NaN
4,5,Odisha,Nabrangpur,Chandahandi,Govt PS Pujaripada,21280107702,"At.Patkhalia(Pujaripada),Po.Patkhalia, Chandah...",Debananda Nayak,9178728415,Debananda Nayak,9178728415,9.0,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Sr. No                      371 non-null    int64
 1   State                       371 non-null    object
 2   District                    371 non-null    object
 3   Name of Block.              364 non-null    object
 4   Name School                 371 non-null    object
 5   U- Dise code of the School  362 non-null    object
 6   Address of the School.      276 non-null    object
 7   Name HM                     272 non-null    object
 8   Mobile HM                   269 non-null    object
 9   CSC Coordinator             366 non-null    object
 10  CSC Coordinator Number      352 non-null    object
 11  CSC members                 370 non-null    float64
 12  07-12-2023                  11 non-null     object
dtypes: float64(1), int64(1), object(11)
memory usage: 37.8+ KB

In [10]:
df.shape

(371, 13)

In [9]:


# Create an empty list to store the repeated rows
repeated_rows_list = []

# Iterate through each row in the original DataFrame
for _, row in df.iterrows():
    # Check for NaN values in "CSC members" and replace with 0
    csc_members = int(row['CSC members']) if not np.isnan(row['CSC members']) else 0
    # Repeat the current row based on the value in "CSC members"
    repeated_rows = [row] * csc_members
    repeated_rows_list.extend(repeated_rows)

# Create a new DataFrame from the list of repeated rows
new_df = pd.DataFrame(repeated_rows_list)

# Reset the index of the new DataFrame
new_df.reset_index(drop=True, inplace=True)

(371, 13)

In [11]:
new_df.shape

(3653, 13)

In [13]:
new_df.head(10)

,Sr. No,State,District,Name of Block.,Name School,U- Dise code of the School,Address of the School.,Name HM,Mobile HM,CSC Coordinator,CSC Coordinator Number,CSC members,07-12-2023
0,1,Odisha,Nabrangpur,Chandahandi,Govt UPS Rajkote,21280107801,Rajkote,DEBISING MAJHI,9861958522,DEBISING MAJHI,9861958522,9.0,NaN
1,1,Odisha,Nabrangpur,Chandahandi,Govt UPS Rajkote,21280107801,Rajkote,DEBISING MAJHI,9861958522,DEBISING MAJHI,9861958522,9.0,NaN
2,1,Odisha,Nabrangpur,Chandahandi,Govt UPS Rajkote,21280107801,Rajkote,DEBISING MAJHI,9861958522,DEBISING MAJHI,9861958522,9.0,NaN
3,1,Odisha,Nabrangpur,Chandahandi,Govt UPS Rajkote,21280107801,Rajkote,DEBISING MAJHI,9861958522,DEBISING MAJHI,9861958522,9.0,NaN
4,1,Odisha,Nabrangpur,Chandahandi,Govt UPS Rajkote,21280107801,Rajkote,DEBISING MAJHI,9861958522,DEBISING MAJHI,9861958522,9.0,NaN
5,1,Odisha,Nabrangpur,Chandahandi,Govt UPS Rajkote,21280107801,Rajkote,DEBISING MAJHI,9861958522,DEBISING MAJHI,9861958522,9.0,NaN
6,1,Odisha,Nabrangpur,Chandahandi,Govt UPS Rajkote,21280107801,Rajkote,DEBISING MAJHI,9861958522,DEBISING MAJHI,9861958522,9.0,NaN
7,1,Odisha,Nabrangpur,Chandahandi,Govt UPS Rajkote,21280107801,Rajkote,DEBISING MAJHI,9861958522,DEBISING MAJHI,9861958522,9.0,NaN
8,1,Odisha,Nabrangpur,Chandahandi,Govt UPS Rajkote,21280107801,Rajkote,DEBISING MAJHI,9861958522,DEBISING MAJHI,9861958522,9.0,NaN
9,2,Odisha,Nabrangpur,Chandahandi,Govt Ups Gorjharia,21280103602,At -Gorjharia Po-Rajkot Blok Chandahandi,Jayalal Sori,9668328806,Mantu Suna,9556350479,9.0,NaN

In [ ]:
new_df.to_csv("CSC_Formulation_csc_member_Wise.csv", index=False)